<!DOCTYPE html>
<html>

<head>
     <link rel="stylesheet" href="./css/style.css">
     
</head>

<body>
        {{>header}}
        <img src = '../public/img/Annotation 2021-02-12 183402.png'>
        {{>footer}}
    
      
</body>

</html>

