<!DOCTYPE html>
<html>

<head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
     <link rel="stylesheet" href="./css/style.css">
     
</head>

<body>

<div class="main-content">
{{>header}} 
<img class ="portrait" 
src ='https://mars.nasa.gov/embed/25640/'>

</div>


{{!-- <iframe  id = "frame" src='https://mars.nasa.gov/embed/25640/' 
width='100%' 
height='400'  
scrolling='no'
frameborder='0'></iframe>
 --}}
{{>footer}}
    
      
</body>

</html>

